*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: PopLight;
	src: url("/fonts/Poppins-Light.ttf");
}
@font-face {
	font-family: PopRegular;
	src: url("/fonts/Poppins-Regular.ttf");
}

body {
	font-family: PopLight;
}

:root {
	--main-bg-color: #fcfcfc;
	--main-txt-color: #252525;
	--main-border-color: rgb(16, 208, 233);
	--main-font-family: 'PopLight', Geneva, Verdana, sans-serif;
	--main-padding: 1.1rem;
	--main-border-style: solid;
	--main-margin: 15px;
	--main-font-size: .8rem;
	--main-font-weight: bold;
}

body {
	background-color: var(--main-bg-color);
	margin-bottom: 20px;
}

.major-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* width: 400px; */
	/* margin: 0 auto; */
}

.header {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: var(--main-font-family);
	margin: 3rem 0 1rem 0;
	/* margin-left: 10px; */
}

.label {
	display: block;
	position: relative;
	letter-spacing: 1px;
	/* text-transform: uppercase; */
	font-family: var(--main-font-family);
	font-size: var(--main-font-size);
	font-weight: var(--main-font-weight);
	line-height: 2em;
	color: var(--main-txt-color);
}

.label::after {
	content: "*";
	color: red;
	margin-left: .3rem;
}

.fields {
	margin: var(--main-margin);
}

.input-control {
	padding: var(--main-padding);
	width: 300px;
	height: 50px;
	border-color: var(--main-border-color);
	background-color: transparent;
	/* border-width: var(--main-border-width); */
	border-style: var(--main-border-style);
	border-radius: 5px;
}

.btns {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	width: 200px;
}

.btn-cancel,
.btn-submit {
	border: none;
	padding: 1rem 2.7rem;
	font-size: 1rem;
	font-weight: 400;
	border-radius: 4px;
	cursor: pointer;
}

.btn-cancel {
	background-color: var(--main-txt-color);
	color: var(--main-border-color);
}

.btn-cancel:hover {
	color: whitesmoke;
}
.btn-submit {
	background-color: var(--main-border-color);
	margin-left: 25px;
	color: var(--main-txt-color);
}

.btn-submit:hover {
	color: whitesmoke;
}

.text {
	width: 40%;
	font-size: .7rem;
	text-align: center;
}

.text span {
	color: red;
}

option {
	font-size: 1rem;
	text-transform: uppercase;
}
