*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: PopLight;
	src: url("/fonts/Poppins-Light.ttf");
}
@font-face {
	font-family: PopRegular;
	src: url("/fonts/Poppins-Regular.ttf");
}

body {
	font-family: PopLight;
}

:root {
	--main-bg-color: #fcfcfc;
	--main-txt-color: #252525;
	--main-border-color: rgb(16, 208, 233);
	--main-font-family: 'PopLight', Geneva, Verdana, sans-serif;
	--main-padding: 1.1rem;
	--main-border-style: solid;
	--main-margin: 15px;
	--main-font-size: .8rem;
	--main-font-weight: bold;
}

body {
	background-color: var(--main-bg-color);
	margin-bottom: 20px;
}

.major-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* width: 400px; */
	/* margin: 0 auto; */
}

.header {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: var(--main-font-family);
	margin: 3rem 0 1rem 0;
	/* margin-left: 10px; */
}

.label {
	display: block;
	position: relative;
	letter-spacing: 1px;
	/* text-transform: uppercase; */
	font-family: var(--main-font-family);
	font-size: var(--main-font-size);
	font-weight: var(--main-font-weight);
	line-height: 2em;
	color: var(--main-txt-color);
}

.label::after {
	content: "*";
	color: red;
	margin-left: .3rem;
}

.fields {
	margin: var(--main-margin);
}

.input-control {
	padding: var(--main-padding);
	width: 300px;
	height: 50px;
	border: 1px solid var(--main-border-color);
	border-color: var(--main-border-color);
	background-color: transparent;
	/* border-width: var(--main-border-width); */
	border-style: var(--main-border-style);
	border-radius: 5px;
	outline: none;
	box-shadow: 1px 1px 2px var(--main-txt-color);
}

select .input-control {
}

.btns {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	width: 200px;
}

.btn-cancel,
.btn-submit {
	border: none;
	padding: 1rem 2.7rem;
	font-size: 1rem;
	font-weight: 400;
	border-radius: 4px;
	cursor: pointer;
}

.btn-cancel {
	background-color: var(--main-txt-color);
	color: var(--main-border-color);
}

.btn-cancel:hover {
	color: whitesmoke;
}
.btn-submit {
	background-color: var(--main-border-color);
	margin-left: 25px;
	color: var(--main-txt-color);
}

.btn-submit:hover {
	color: whitesmoke;
}

.text {
	width: 40%;
	font-size: .7rem;
	text-align: center;
}

.text span {
	color: red;
}

option {
	font-size: 1rem;
	text-transform: uppercase;
}

/* select bar*/

.select-box {
	position: relative;
	display: flex;
	width: 300px;
	flex-direction: column;
	background-color: transparent;
}

.select-box .options-container {
	width: 300px;
	background: #2f3640;
	color: #f5f6fa;
	max-height: 0;
	width: 100%;
	opacity: 0;
	transition: all 0.4s;
	border-radius: 8px;
	overflow: hidden;

	order: 1;

	position: absolute;
	z-index: 100;
}

:root {
	--main-bg-color: #fcfcfc;
	--main-txt-color: #252525;
	--main-border-color: rgb(16, 208, 233);
	--main-font-family: 'PopLight', Geneva, Verdana, sans-serif;
	--main-padding: 1.1rem;
	--main-border-style: solid;
	--main-margin: 15px;
	--main-font-size: .8rem;
	--main-font-weight: bold;
}

.selected {
	/*padding: 1.5rem 1.1rem 1rem 1.1rem;*/
	width: 300px;
	height: 50px;
	border: 1px solid var(--main-border-color);
	background-color: transparent;
	border-radius: 5px;
	outline: none;
	box-shadow: 1px 1px 2px var(--main-txt-color);
	color: #2f3640;
	position: relative;

	order: 0;
}

.selected::after {
	content: "";
	background: url("../../img/arrow-down.svg");
	color: red;
	background-size: contain;
	background-repeat: no-repeat;

	position: absolute;
	height: 100%;
	width: 32px;
	right: 10px;
	top: 10px;

	transition: all 0.4s;
}

.select-box .options-container.active {
	width: 300px;
	max-height: 240px;
	opacity: 1;
	overflow-y: scroll;
	margin-top: 104px;
}

.select-box .options-container.gender.active {
	width: 300px;
	max-height: 240px;
	opacity: 1;
	overflow-y: scroll;
	margin-top: 50px;
}

.select-box .options-container.active + .selected::after {
	transform: rotateX(180deg);
	top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
	width: 8px;
	background: #0d141f;
	border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
	background: #525861;
	border-radius: 0 8px 8px 0;
}

.select-box .option {
	padding: 12px 24px;
	cursor: pointer;
}

.selected{
	padding: 1rem;
}

.select-box .option:hover {
	background: #414b57;
}

.select-box label {
	cursor: pointer;
}

.select-box .option .radio {
	display: none;
}

/* Searchbox */

.search-box input {
	width: 300px;
	padding: 12px 16px;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	position: absolute;
	border-radius: 8px 8px 0 0;
	z-index: 100;
	border: 8px solid #2f3640;

	opacity: 0;
	pointer-events: none;
	transition: all 0.4s;
}

.search-box input:focus {
	outline: none;
}

.select-box .options-container.active ~ .search-box input {
	opacity: 1;
	pointer-events: auto;
}
